{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Latest</h2>
    <a href="{% url 'post_detail' latest_news.slug %}">
        <div class="card mb-3 latest-news">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title fw-bold">{{ latest_news.title }}</h4>
                        <p class="card-text">{{ latest_news.excerpt }}</p>
                        <p class="card-text">
                            <small class="text-muted">
                            {{ latest_news.created_on|naturaltime }} <i class="far fa-heart"></i> {{ latest_news.number_of_likes }} <i class="fa-regular fa-comment"></i> {{ latest_news.comment_count }}
                            </small>
                        </p>
                    </div>
                    <div class="col-4">
                        <img class="card-img-top" src="{{ latest_news.featured_image.url }}" alt="{{ latest_news.title }}">
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>In other news</h2>
            {% for post in p_posts %}
            <a href="{% url 'post_detail' post.slug %}">
                <div class="card mb-3 post">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                            </div>
                            <div class="col-8">
                                <h4 class="card-title fw-bold">{{ post.title }}</h4>
                                <p class="card-text">
                                    <small class="text-muted">
                                    {{ post.created_on }} <i class="far fa-heart"></i> {{ post.number_of_likes }} <i class="fa-regular fa-comment"></i> {{ post.comment_count }}
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <hr>
            {% endfor %}
            <!-- Pagination -->
            <div class="container justify-content-center">
                {% if p_posts.has_previous %}
                <a href="?page=1">&laquo First</a>
                <a href="?page={{ p_posts.previous_page_number }}">Previous</a>
                {% endif %}
                Page {{ p_posts.number }} of {{ p_posts.paginator.num_pages }}
                {% if p_posts.has_next %}
                <a href="?page={{ p_posts.next_page_number }}">Next</a>
                <a href="?page={{ p_posts.paginator.num_pages }}">Last &raquo</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}