{% extends 'base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="masthead-text">
                    <h1 class="post-title">{{ post.title }}</h1>
                    <p class="post-subtitle">{{ post.author }} | {{ post.date_no_time }}</p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center masthead-image">
            <!-- if no image has been uploaded with the article the default image is shown -->
            {% if "placeholder" in post.featured_image.url %}
            <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
            {% else %}
            <img src="{{ post.featured_image.url }}" class="scale" alt="{{ post.title }}">
            {% endif %}
        </div>
        <hr>
    </div>
</div>
<!-- post/article content -->
<div class="container post-content-container">
    <div class="row">
        <div class="col card card-no-border card-no-bg mb-4 left top">
            <div class="card-body">
                <article class="card-text">
                    {{ post.content | safe }}
                </article>
                <div class="row">
                    <div class="col-1">
                        <strong>
                            <!-- Allows users to like posts when logged in -->
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn btn-light"><i class="fa-solid fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn btn-light"><i class="fa-regular fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span><i class="fa-regular fa-heart"></i></span>
                            {% endif %}
                            <span>{{ post.number_of_likes }}</span>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- If user is not signed in then ask to login or register -->
    {% if not user.is_authenticated and comment_count == 0 %}
    <p><a href="{% url 'account_login' %}">Login</a> or <a href="{% url 'account_signup' %}">register</a> to start the conversation</p>
    {% elif not user.is_authenticated %}
    <p><a href="{% url 'account_login' %}">Login</a> or <a href="{% url 'account_signup' %}">register</a> to join the conversation</p>
    {% endif %}
    {% if comment_count == 0 %}
    <h3>0 Comments</h3>
    {% elif comment_count == 1 %}
    <h3>1 Comment:</h3>
    {% else %}
    <h3>{{ comment_count }} Comments:</h3>
    {% endif %}
    <!-- for loop creates a card on a new row for each comment -->
    {% for comment in comments %}
    <div class="row">
        <div class="col-md-8 card mb-2 mt-2">
            <div class="card-body">
                <div class="comments" style="padding: 10px;">
                    <h5 class="comment-name font-weight-bold">
                        {{ comment.name }} 
                        <span class="text-muted font-weight-normal comment-date">
                            {{ comment.created_on|naturaltime }}
                        </span>
                        <!-- If user is logged in they can edit or delete their comments -->
                        {% if user.is_authenticated and comment.name == user %}
                        <span class="float-end">
                            <button class="btn btn-edit" comment_id="{{ comment.id }}"><i class="fa-solid fa-pencil" comment_id="{{ comment.id }}"></i></button>
                            <button class="btn btn-delete" comment_id="{{ comment.id }}"><i class="fa-solid fa-trash" comment_id="{{ comment.id }}"></i></button>
                        </span>
                        {% endif %}
                    </h5>
                    <div id="comment{{ comment.id }}" class="comment-content">
                        {{ comment.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- if user is logged in they can leave a comment -->
    {% if user.is_authenticated %}
    <p>Commenting as: {{ user.username }}</p>
    <form id="commentForm" method="post" style="margin-top: 1.3em;">
        {{ comment_form | crispy }}
        {% csrf_token %}
        <button type="submit" id="submitButton" class="btn btn-outline-dark mt-2">Submit</button>
    </form>
    {% endif %}
</div>
<!-- Delete comment modal confirms user definitely wants to delete comment -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Are you sure you want to delete your comment? This cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                <a id="deleteConfirm" href="#" class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<!-- Links javascript used for comment functionality -->
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}