{% extends 'base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="masthead-text">
                    <h1 class="post-title">{{ post.title }}</h1>
                    <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center masthead-image">
            {% if "placeholder" in post.featured_image.url %}
            <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
            {% else %}
            <img src="{{ post.featured_image.url }}" class="scale" alt="{{ post.title }}">
            {% endif %}
        </div>
        <hr>
    </div>
</div>
<div class="container post-content-container">
    <div class="row">
        <div class="col card card-no-border card-no-bg mb-4 left top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <article class="card-text">
                    {{ post.content | safe }}
                </article>
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <!-- The number of likes goes before the closing strong tag -->
                            <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
    </div>
    {% if not user.is_authenticated %}
    <p><a href="{% url 'account_login' %}">Login</a> or <a href="{% url 'account_signup' %}">register</a> to join the conversation</p>
    {% endif %}
    {% if comment_count == 0 %}
    <h3>Start the conversation!</h3>
    {% elif comment_count == 1 %}
    <h3>1 Comment:</h3>
    {% else %}
    <h3>{{ comment_count }} Comments:</h3>
    {% endif %}

    {% for comment in comments %}
    <div class="row">
        <div class="col-md-8 card mb-2 mt-2">
            <div class="card-body">
                <div class="comments" style="padding: 10px;">
                    <h5 class="comment-name font-weight-bold">
                        {{ comment.name }} 
                        <span class="text-muted font-weight-normal comment-date">
                            {{ comment.created_on|naturaltime }}
                        </span>
                        {% if user.is_authenticated and comment.name == user %}
                        <span class="float-end">
                            <button class="btn btn-edit" comment_id="{{ comment.id }}"><i class="fa-solid fa-pencil" comment_id="{{ comment.id }}"></i></button>
                            <button class="btn btn-delete" comment_id="{{ comment.id }}"><i class="fa-solid fa-trash" comment_id="{{ comment.id }}"></i></button>
                        </span>
                        {% endif %}
                    </h5>
                    <!-- The body of the comment goes before the | -->
                    <div id="comment{{ comment.id }}" class="comment-content">
                        {{ comment.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% if user.is_authenticated and comment_count > 0 %}
    <h3>Leave a comment:</h3>
    <p>Posting as: {{ user.username }}</p>
    <form id="commentForm" method="post" style="margin-top: 1.3em;">
        {{ comment_form | crispy }}
        {% csrf_token %}
        <button type="submit" id="submitButton" class="btn btn-signup btn-lg">Submit</button>
    </form>
    {% else %}
    <p>Posting as: {{ user.username }}</p>
    <form id="commentForm" method="post" style="margin-top: 1.3em;">
        {{ comment_form | crispy }}
        {% csrf_token %}
        <button type="submit" id="submitButton" class="btn btn-signup btn-lg">Submit</button>
    </form>
    {% endif %}
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}