body {
    background-color: #faf0e6;
    font-family: "Helvetica", sans-serif;
}

/* Push footer to bottom */
main {
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "EB Garamond", serif;
}

.footer-container {
    position: relative;
    bottom: 0;
    top: auto;
    left: 12.5vw;
    width: 75vw;
}

/* Change bootstrap primary background colour */
.bg-is-primary {
    background-color: #faf0e6;
}

/* "Boostrap-style" classes to add to elements */
.letter-space-2 {
    letter-spacing: 2px;
}

.letter-space-4 {
    letter-spacing: 4px;
}

.ml-1 {
    margin-left: 1em;
}

.fs-90 {
    font-size: 90%;
}

/* add to card to remove border */
.card-no-border {
    background-color: none;
    --bs-card-border-color: none;
}

/* add to card to remove background */
.card-no-bg {
    --bs-card-bg: none;
}

/* adds padding to latest news */
div.card.mb-3.latest-news {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

/* removes underline from links */
a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}

/* adds border back to latest news */
.latest-news {
    --bs-card-border-color: var(--bs-border-color-translucent);
}

/* Scaling for images */
.scale {
    width: 100%;
    height: auto;
}

.masthead-image > img {
    margin-bottom: 1rem;
}

.post-content-container {
    margin-top: 1rem;
}

.comment-name {
    font-size: 150%;
}

.comment-date {
    font-size: 60%;
}