{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}


{% for contributor in contributors %}
{% if contributor.id|divisibleby:"2" %}
<div class="container">
    <div class="card card-no-bg card-no-border">
        <div class="row">
            <div class="d-flex align-items-center col-md-3">
                <div class="headshot-image">
                    {% if "placeholder" in contributor.headshot.url %}
                    <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
                    {% else %}
                    <img src="{{ contributor.headshot.url }}" class="scale" alt="{{ contributor.name }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-md-9">
                <div class="masthead-text">
                    <h1 class="contributor-name">{{ contributor.name }}</h1>
                    <p class="contributor-info">{{ contributor.role }} | since {{ contributor.created_on }}</p>
                </div>
                <!-- <div class="card-header">Background</div> -->
                <div class="card-body">
                <blockquote class="blockquote fs-90 mb-0">
                    <p>{{ contributor.background }}</p>
                </blockquote>
                </div>
                <!-- <div class="card-header">Motivation</div> -->
                <div class="card-body">
                    <blockquote class="blockquote fs-90 mb-0">
                    <p>{{ contributor.motivation }}</p>
                    </blockquote>
                </div>
                <!-- <div class="card-header">Favourtie place in Sardinia</div> -->
                <div class="card-body">
                    <blockquote class="blockquote fs-90 mb-0">
                    <p>{{ contributor.fav_place }}</p>
                    </blockquote>
                </div>  
            </div>
        </div>
    </div>
    <hr>
</div>
{% else %}
<div class="container">
    <div class="card card-no-bg card-no-border">
        <div class="row">
            <div class="col-md-9 text-end">
                <div class="masthead-text">
                    <h1 class="contributor-name">{{ contributor.name }}</h1>
                    <p class="contributor-info">{{ contributor.role }} | since {{ contributor.created_on }}</p>
                </div>
                <!-- <div class="card-header">Background</div> -->
                <div class="card-body fs-75">
                <blockquote class="blockquote fs-90 mb-0">
                    <p>{{ contributor.background }}</p>
                </blockquote>
                </div>
                <!-- <div class="card-header">Motivation</div> -->
                <div class="card-body">
                    <blockquote class="blockquote fs-90 mb-0">
                    <p>{{ contributor.motivation }}</p>
                    </blockquote>
                </div>
                <!-- <div class="card-header">Favourtie place in Sardinia</div> -->
                <div class="card-body">
                    <blockquote class="blockquote fs-90 mb-0">
                    <p>{{ contributor.fav_place }}</p>
                    </blockquote>
                </div>  
            </div>
            <div class="d-flex align-items-center col-md-3">
                <div class="headshot-image">
                    {% if "placeholder" in contributor.headshot.url %}
                    <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
                    {% else %}
                    <img src="{{ contributor.headshot.url }}" class="scale" alt="{{ contributor.name }}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}