{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- for loop creates creates seperate container and card for each contributor/team member -->
{% for contributor in contributors %}
<div class="container">
    <div class="card card-no-bg card-no-border">
        <div class="row">
            <!-- if statement aligns text to match image on the right of the page on md devices and larger -->
            {% if not contributor.id|divisibleby:"2" %}
            <div class="col-md-9">
            {% else %}
            <div class="col-md-9 text-end-md">
            {% endif %}
                <div class="masthead-text">
                    <h1 class="contributor-name">{{ contributor.name }}</h1>
                    <p class="contributor-info">{{ contributor.role }} | since {{ contributor.joined_us }}</p>
                </div>
                <div class="card-body">
                    <p class="fs-90 mb-0">{{ contributor.background }}</p>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote fs-90 mb-0">
                    <p>{{ contributor.motivation }}</p>
                    </blockquote>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote fs-90 mb-0">
                    <p>Favourtie place in Sardinia: {{ contributor.fav_place }}</p>
                    </blockquote>
                </div>  
            </div>
            <!-- if statement pushes every other image to the first column, staggering the headshots -->
            {% if not contributor.id|divisibleby:"2" %}
            <div class="d-flex align-items-center col-md-3 order-md-first">
            {% else %}
            <div class="d-flex align-items-center col-md-3">
            {% endif %}
                <div class="headshot-image">
                    {% if "placeholder" in contributor.headshot.url %}
                    <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
                    {% else %}
                    <img src="{{ contributor.headshot.url }}" class="scale" alt="{{ contributor.name }}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- if statement adds horizontal line under each contirbutor apart from the last -->
    {% if not contributor.id == new_recruit.id %}
    <hr>
    {% endif %}
</div>
{% endfor %}

{% endblock %}