body {
    background-color: #faf0e6;
}

main {
    min-height: 100vh;
}

.footer-container {
    position: relative;
    bottom: 0;
    top: auto;
    left: 12.5vw;
    width: 75vw;
}

.bg-is-primary {
    background-color: #faf0e6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "EB Garamond", serif;
}

.letter-space-2 {
    letter-spacing: 2px;
}

.letter-space-4 {
    letter-spacing: 4px;
}

.ml-1 {
    margin-left: 1em;
}

.card {
    background-color: none;
}

div.card.mb-3.latest_news {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}

.card {
    --bs-card-border-color: none;
    --bs-card-bg: none;
}

.latest-news {
    --bs-card-border-color: var(--bs-border-color-translucent);
}